@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Medium.woff2") format("woff2"),
    url("../fonts/FiraSans-Medium.woff") format("woff"),
    url("../fonts/FiraSans-Medium.ttf") format("truetype"),
    url("../fonts/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
