body {
  background-color: #333332;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
div {
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
  background-size: 500%;
}
.ui,
.my,
.code {
  color: transparent;
  background-image: linear-gradient(to left, #ffff13, #ffffbe, #ffffff);
  -webkit-background-clip: text;
  background-size: 500%;
}
.ui {
  animation: animation-header 1s cubic-bezier(0.97, 0.95, 0.9, 0.9) infinite;
}

.my {
  animation: animation-header 1s cubic-bezier(0.97, 0.95, 0.9, 0.4) infinite;
}
.code {
  animation: animation-header 1s cubic-bezier(0.97, 0.94, 0.07, 0.4) infinite;
}

@keyframes animation-header {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
