.wraper {
  position: relative;
  width: 300px;
  margin: 100px 100px;
}
.heading {
  position: relative;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
  z-index: 99999;
}
.form {
  position: absolute;
  top: 15px;
  left: 75px;
  width: 10px;
  height: 20px;
  background-color: rgb(243, 12, 12);
  animation: form-animation 1s infinite alternate-reverse;
}
@keyframes form-animation {
  from {
    opacity: 0;
  }
  60% {
    width: 88px;
  }
  100% {
    width: 88px;
  }
}
