body {
  background-color: #333332;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
div {
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
  background-size: 500%;
}
.ui {
  animation: animation-header 1s cubic-bezier(0.97, 0.95, 0.9, 0.9) infinite;
}

.my {
  animation: animation-header 1s cubic-bezier(0.97, 0.95, 0.9, 0.4) infinite;
}
.code {
  animation: animation-header 1s cubic-bezier(0.97, 0.94, 0.07, 0.4) infinite;
}

@keyframes animation-header {
  0% {
    color: #ffff13;
  }
  25% {
    color: white;
  }
  50% {
    color: #ffff13;
  }
  75% {
    color: #ffffff;
  }
  100% {
    color: #ffff13;
  }
}
